body {
    background-color: #f5f5dc;
    color: #00008b;
}

.notification {
    border: 1px solid #ff8c00;
    -webkit-border-radius: 10px;
    background-color: orange;
    color: #000;
    max-width: 400px;
    max-height: 100px;
    text-align: center;
    margin: auto;
}